h1{
    color: greenyellow;
}
<head>
<link rel="stylesheet" href="style.css">
<link rel="stylesheet" type="text/css" href="style.css">
main{
    ht:100px;
    width:100px;
    border style:soild;
    overflow:scrale;

}